@media only screen and (max-width: 1180px) {
  .container {
    width: 92%;
  }
}

/* Tablet (Large) - 1024px styles */

@media only screen and (max-width: 1024px) {
  /* header */

  .navigation ul li:not(li:last-child) {
    margin-right: 44px;
  }

  .container {
    width: 93.75%;
  }

  /* main content */

  .main_section_wrapper {
    flex-direction: column;
    text-align: center;
    row-gap: 68px;
  }

  .left_block {
    width: 630px;
    text-align: center;
  }

  .right_block {
    width: 100%;
  }

  .left_block > div {
    justify-content: center;
  }

  .left_block > div p {
    width: 58.73%;
  }

  .right_block {
    height: 450px;
  }

  .right_block img {
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .section_2 {
    padding: 39px 0;
  }

  .section_2 .block {
    width: 29%;
  }

  .section_3 {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  .section_3_wrapper {
    flex-direction: column;
    row-gap: 64px;
  }

  .section_3 .left_block,
  .section_3 .right_block {
    width: 100%;
    height: 550px;
  }

  .section_3 .left_block img {
    height: 100%;
  }

  .section_3 .right_block {
    padding-left: 0%;
    height: auto;
  }

  .section_3 .right_block .right_block_content {
    display: flex;
    justify-content: space-between;
  }

  .section_3 .right_block .right_block_content h4 {
    width: 42%;
  }

  .section_3 .right_block .right_block_content div {
    width: 47%;
  }

  /* footer */
  .footer_wrapper {
    flex-direction: column;
    row-gap: 48px;
  }

  .footer_column:last-child {
    display: none;
  }
}

/* Tablet (Small) - 744px styles */

@media only screen and (max-width: 744px) {
  .navigation ul li:not(li:last-child) {
    margin-right: 22px;
  }

  .container {
    width: 93.54%;
  }

  .main_section {
    padding-top: 24px;
    padding-bottom: 0;
  }

  .main_section_wrapper {
    row-gap: 24px;
  }

  .left_block {
    width: 100%;
  }

  .left_block h2 {
    font-size: 40px;
    line-height: 48.5px;
  }

  .left_block > div {
    margin-top: 24px;
    flex-direction: column;
    row-gap: 16px;
  }

  .right_block {
    height: 499px;
  }

  .section_2 {
    padding: 20px 0;
  }

  .section_2 .blocks {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section_2 .block {
    width: 100%;
    padding: 20px 0;
  }

  .section_2 .block .block_top_row {
    justify-content: center;
  }

  .section_3_wrapper {
    row-gap: 29px;
  }

  .section_3 .right_block .right_block_content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .section_3 .right_block .right_block_content h4,
  .section_3 .right_block .right_block_content p,
  .section_3 .right_block .right_block_content > div {
    width: 100%;
    text-align: center;
  }

  .section_3 .right_block .right_block_content h4,
  .section_3 .right_block .right_block_content > div p:nth-child(1) {
    margin-bottom: 29px;
  }

  /* footer */
  footer {
    height: auto;
    padding: 25.73px 0;
  }
}

/* Mobile - 375px styles */

@media only screen and (max-width: 630px) {
  .navigation,
  .action_button {
    display: none;
  }

  .burger_menu_icon,
  .hidden_menu {
    display: flex;
  }

  .section_3 .left_block {
    height: 320px;
  }

  .section_4 .section_4_content .action_button {
    display: block;
  }

  .section_4 .section_4_content h3 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 570px) {
  .section_4 .section_4_content {
    max-width: 450px;
  }
}

@media only screen and (max-width: 400px) {
  .section_4 .section_4_content {
    max-width: 350px;
  }
}

@media only screen and (max-width: 375px) {
  .main_section {
    padding-bottom: 21px;
  }

  .right_block {
    height: 309px;
  }

  .section_2 .block {
    padding: 24px 0;
  }

  .footer_column {
    width: 30%;
  }

  .footer_wrapper {
    align-items: center;
  }

  .section_3 .left_block {
    height: 195px;
  }
}
